<%-include("header")-%>
<h1>
    This is the about page
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et cumque quibusdam vel illum voluptatem, officia enim reprehenderit amet a dicta distinctio molestias unde vitae hic accusamus harum dolorem eligendi iste, omnis magni soluta libero! Voluptas veritatis fugiat vitae officia commodi aliquid, architecto molestiae omnis excepturi pariatur, aliquam temporibus! Accusamus maxime veniam temporibus quas ab mollitia dolore amet in! Dolorum natus porro dicta? Id incidunt delectus consequuntur quo. Soluta voluptatem nihil hic tenetur vero, blanditiis ab eaque vel consectetur eligendi.
</p>

<%-include("footer")-%>